<div
  class="container-scroller bg-white"
  style="height: 60em; background-image: url('/img/f-bg.png')"
>
  <div
    class="auth-form-light text-left py-5 px-4 px-sm-5"
    style="margin: 15% 30% 10% 30%; background-color: #eee"
  >
    <div class="col-12 text-center mt-xl-2">
      <h1 class="text-warning font-weight-bold">F&D Zone</h1>
      <br />
      <h2 class="text-primary font-weight-bold">Bạn chưa đăng nhập !</h2>
      <br />
      <h2 class="font-weight-light">Hãy đăng nhập để mua sản phẩm!</h2>
      <div class="row justify-content-center">
        <div class="col-12 pt-5 pb-5">
          <div class="row justify-content-center">
            <div class="col-6 text-right">
              <a class="btn btn-danger" href="/"><h3>Về trang chủ?</h3></a>
            </div>
            <div class="col-6 text-left">
              <a class="btn btn-primary" href="/login"
                ><h3>Đăng nhập ngay!!!</h3></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
</div>
