<div class="container-scroller" style="margin-top: 70px">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div
      class="content-wrapper d-flex align-items-center auth px-0"
      style="background-image: url('/img/f-bg.png')"
    >
      <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <% if (infoRegisterObj != '') { %>
            <div class="col-12 alert alert-success alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close"
                >&times;</a
              >
              <h3><%= infoRegisterObj %></h3>
            </div>
            <% } %> <% if (infoErrorsObj != '') { %>
            <div class="col-12 alert alert-danger alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close"
                >&times;</a
              >
              <h3><%= infoErrorsObj %></h3>
            </div>
            <% } %>
            <h1 class="text-center">Bắt đầu ngay?</h1>
            <h3 class="text-center font-weight-light">
              Đăng ký thật dễ chỉ với vài bước!!!
            </h3>
            <hr />
            <form class="pt-3" action="/register" method="POST">
              <div class="row g-3">
                <div class="col-12">
                  <label for="email" class="form-label"><H3>Email</H3></label>
                  <input
                    style="font-size: 16px"
                    type="email"
                    name="email"
                    id="email"
                    class="form-control form-control-lg"
                    autofocus
                  />
                  <hr />
                </div>
                <div class="col-12">
                  <label for="password" class="form-label"
                    ><H3>Mật khẩu</H3></label
                  >
                  <input
                    style="font-size: 16px"
                    type="password"
                    name="password"
                    id="password"
                    class="form-control form-control-lg"
                  />
                  <hr />
                </div>
                <div class="col-12">
                  <label for="confirmPassword" class="form-label"
                    ><H3>Xác nhận mật khẩu</H3></label
                  >
                  <input
                    style="font-size: 16px"
                    type="password"
                    name="confirmPassword"
                    id="confirmPassword"
                    class="form-control form-control-lg"
                  />
                  <hr />
                </div>

                <div class="col-12">
                  <label for="name" class="form-label"
                    ><H3>Họ và tên</H3></label
                  >
                  <input
                    style="font-size: 16px"
                    type="text"
                    name="name"
                    id="name"
                    class="form-control form-control-lg"
                  />
                  <hr />
                </div>

                <div class="col-12">
                  <label for="gender" class="form-label"
                    ><H3>Giới tính</H3></label
                  >
                  <br />
                  <input
                    style="font-size: 16px"
                    type="radio"
                    id="male"
                    name="gender"
                    value="male"
                    class="form-label"
                  />
                  <label for="male"><h3>Nam</h3></label><br />
                  <input
                    style="font-size: 16px"
                    type="radio"
                    id="female"
                    name="gender"
                    value="female"
                    class="form-label"
                  />
                  <label for="css"><h3>Nữ</h3></label><br />
                  <hr />
                </div>
                <div class="col-12">
                  <label for="address" class="form-label"
                    ><H3>Địa chỉ</H3></label
                  >
                  <input
                    style="font-size: 16px"
                    type="text"
                    name="address"
                    id="address"
                    class="form-control form-control-lg"
                  />
                  <hr />
                </div>
                <div class="col-12">
                  <label for="tel" class="form-label"
                    ><H3>Số điện thoại</H3></label
                  >
                  <input
                    style="font-size: 16px"
                    type="tel"
                    name="tel"
                    id="tel"
                    class="form-control form-control-lg"
                  />
                  <hr />
                </div>
                <div class="col-12">
                  <button
                    type="submit"
                    class="btn btn-block btn-warning btn-lg auth-form-btn text-white"
                  >
                    <h2>Đăng ký</h2>
                  </button>
                </div>
              </div>
              <div class="text-center mt-4 font-weight-bold">
                <h3>
                  Đã có tài khoản?
                  <a href="/login" class="text-primary">Đăng nhập</a>
                </h3>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
