<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <!-- Chartist -->
    <!-- Custom Stylesheet -->
    <link href="/css/style-dashboard.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
  </head>

  <body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
      <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
          <circle
            class="path"
            cx="50"
            cy="50"
            r="20"
            fill="none"
            stroke-width="3"
            stroke-miterlimit="10"
          />
        </svg>
      </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
      <!--**********************************
            Nav header start
        ***********************************-->
      <div class="nav-header">
        <div class="brand-logo">
          <a href="/admin-dashboard">
            <i class="fas fa-utensils text-warning"></i>
            <span class="text-white font-weight-bold">F&D Zone</span>
          </a>
        </div>
      </div>

      <!--**********************************
            Nav header end
        ***********************************-->

      <!--**********************************
            Header start
        ***********************************-->

      <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

      <!--**********************************
            Sidebar start
        ***********************************-->
      <div class="nk-sidebar">
        <div class="nk-nav-scroll">
          <ul class="metismenu" id="menu">
            <li class="nav-label">Dashboard</li>
            <li>
              <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <span class="nav-text">Dashboard</span>
              </a>
              <ul aria-expanded="false">
                <li><a href="/admin-dashboard">Admin Dashboard</a></li>
                <!-- <li><a href="./index-2.html">Home 2</a></li> -->
              </ul>
            </li>

            <li>
              <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <span class="nav-text">Products</span>
              </a>
              <ul aria-expanded="false">
                <li><a href="/admin-drinks">Drinks</a></li>
                <li><a href="/admin-foods">Foods</a></li>
              </ul>
            </li>
            <li>
              <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <span class="nav-text">Shipper</span>
              </a>
              <ul aria-expanded="false">
                <li><a href="/admin-show-staff-list">Staff list</a></li>
              </ul>
            </li>
            <li>
              <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <span class="nav-text">Invoices</span>
              </a>
              <ul aria-expanded="false">
                <li><a href="/admin-today-invoices">Today Invoices</a></li>
                <li><a href="/admin-ordered-invoices">Ordered Invoices</a></li>
                <li><a href="/admin-confirmed-invoices">Confirmed Invoices</a></li>
                <li><a href="/admin-got-invoices">Got Invoices</a></li>
                <li><a href="/admin-done-invoices">Done Invoices</a></li>
                <li><a href="/admin-canceled-invoices">Canceled</a></li>
                <li><a href="/admin-all-invoices">All Invoices</a></li>
              </ul>
            </li>
            <li>
              <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <span class="nav-text">Profile</span>
              </a>
              <ul aria-expanded="false">
                <li><a href="/admin-info">Info</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!--**********************************
            Sidebar end
        ***********************************-->
      <main><%- body -%></main>

      <!--**********************************
            Footer start
        ***********************************-->
      <div class="footer">
        <div class="copyright">
          <p>
            Copyright &copy; 2022, All Right Reserved
            <a href="#" class="text-warning">FD_Zone</a>
          </p>
        </div>
      </div>
      <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="/plugins/common/common.min.js"></script>
    <script src="/js/custom.min.js"></script>
    <script src="/js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="/js/styleSwitcher.js"></script>

    <!-- Circle progress -->
    <script src="/plugins/circle-progress/circle-progress.min.js"></script>

    <script src="/js/dashboard/dashboard-1.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  </body>
</html>
