<!--**********************************
            Content body start
***********************************-->
<div class="content-body mt-4 d-flex justify-content-center">
  <!-- row -->
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card">
          <div class="card-body mr-0">
            <div class="media align-items-center">
              <img
                class="d-flex justify-content-center"
                src="./img/OIP.jpg"
                width="150"
                height="150"
                alt=""
              />
              <div class="media-body">
                <h3 class="mb-0 d-flex justify-content-center">Godzilla</h3>
                <p class="text-muted mb-0 font-weight-bold d-flex justify-content-center">
                  Ho Chi Minh City
                </p>
              </div>
            </div>
            <h4 class="text-center">About Me</h4>
            <p class="text-muted">
              Hi, I'm Gorila, has been the industry standard dummy text ever since the 1500s
              adasdasdasdasdasdasdasdasdadadadadadad.
            </p>
            <ul class="card-profile__info">
              <!-- <li class="mb-1">
                <strong class="text-dark mr-4">Mobile</strong> <span>01793931609</span>
              </li>
              <li><strong class="text-dark mr-4">Email</strong> <span>name@domain.com</span></li> -->
            </ul>
            <div class="row mb-5">
              <div class="col-6 text-center">
                <button class="btn btn-danger px-5">Edit information</button>
              </div>
              <div class="col-6 text-center">
                <a href="/login"><button class="btn btn-danger px-5">Log out</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- #/ container -->
</div>
<!--**********************************
            Content body end
***********************************-->
